body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #333; 
  background-color: #f4f4f4; 
  text-align: center;
  line-height: 2.0;
}

h1 {
  color: #007BFF; 
}

p {
  color: #555;
}

img {
  width: 200px; 
  border-radius: 10px;
  margin-top: 20px;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}
