<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1><marquee>Reynaldo Allison: 620146955 </marquee> </h1> 
 <p>I am a computer science student I love coding and creating, i procrastinated this assignment for way too long
    and I should probably not do this again. 
    I like cooking, gaming and anime and I don't know how well i'll do on this assignment.</p>
    <marquee direction="right" behavior="alternate" 
        style="border:black 2px solid">
        This me being random 
    </marquee>
</body>
</html>
